<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

#### Add your code below following the instructions given in the course

<h1>My Jupyter Notebook on IBM Watson Studio</h1>

**Matías Exequiel Cartisano**<br>
Support Help Desk

*Estoy interesado en la ciencia de datos porque me gustaría poder darle valor agregado a los datos que aparecen en los reportes mensuales que hacemos en mi trabajo actual.
Sería un gran salto en mi carrera profesional*

<h3>El código de la siguiente línea debe multiplicar 5 por 10</h3>

In [2]:
5*10

50

<ol>
    <li>Lista Ordenada 1</li>
    <li>Lista Ordenada 2</li>
    <li>Lista Ordenada 3</li>
    <ul>Lista No Ordenada 1</ul>
    <ul>Lista No Ordenada 2</ul>
    <ul>Lista No Ordenada 3</ul>
</ol>
<br>
    <table>
         <tr>
             <td>Celda 1</td>
             <td>Celda 2</td>
             <td>Celda 3</td>
        </tr>
        <tr>
            <td>Celda 4</td>
            <td>Celda 5</td>
            <td>Celda 6</td>
        </tr>
    </table>